* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    rgb(16, 63, 2),
    rgb(1, 1, 43),
    rgb(66, 2, 2),
    rgb(1, 41, 11)
  );
}

section::before {
  content: '';
  position: absolute;
  width: 30vw;
  height: 30vw;
  border: 5vw solid hsl(24, 88%, 40%);
  border-radius: 50%;
  box-shadow: 0 0 0 1vw rgb(3, 82, 20), 0 0 0 1.3vw rgb(53, 2, 2);
  animation: floating 5s ease-in-out infinite;
}

h2 {
  position: absolute;
  font-size: 9vw;
  color: rgb(223, 69, 69);
  text-align: center;
  line-height: 2em;
  z-index: 1000;
  transform: skewY(-7deg);
  text-shadow: 1px 1px 0px rgb(53, 2, 2), 2px 2px 0px rgb(63, 3, 3),
    3px 3px 0px rgb(223, 124, 124), 4px 4px 0px rgb(65, 4, 4),
    5px 5px 0px rgb(82, 6, 105), 10px 10px 0 rgba(37, 1, 1, 0.2);
  animation: floating 5s ease-in-out infinite;
}

h2 span {
  font-weight: 700;
  font-size: 3em;
  color: rgb(70, 10, 70);
  text-shadow: 1px 1px 0 rgb(56, 56, 116), 2px 2px 0 rgb(52, 52, 151),
    3px 3px 0 rgb(1, 1, 43), 4px 4px 0 rgb(1, 1, 43), 5px 5px 0 rgb(1, 1, 43),
    6px 6px 0 rgb(78, 78, 163), 7px 7px 0 rgb(1, 1, 43), 8px 8px 0 rgb(1, 1, 43),
    9px 9px 0 rgb(68, 68, 160), 20px 20px 0 rgba(0, 0, 0, 0.2);
}

@keyframes floating {
  0% {
    transform: skewY(-7deg) translate(0, -0.5em);
  }
  50% {
    transform: skewY(-7deg) translate(0, 0.5em);
  }
}
section i:nth-child(odd) {
  background: #ffd700;
  box-shadow: 0 0 2px #c0f10d, 0 0 10px #bcdf3d, 0 0 20px #c8ee3d,
    0 0 40px #c1ec24;
  animation: animate 0s linear infinite;
}

section i {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  animation: animate 0.01s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
